AUTH_SECRET=replace-me
DATABASE_URL=./data/chaindev.sqlite
BOOTSTRAP_EVM_PROVIDER='{"name":"TestEvmNode","nativeCurrencySymbol":"TEST","rpcUrl":"https://rpc.chaindev.net","restUrl":null,"wsUrl":"wss://ws.chaindev.net"}'
BOOTSTRAP_COSMOS_PROVIDER='{"name":"TestCosmosNode","nativeCurrencySymbol":null,"rpcUrl":"https://lcd.chaindev.net","restUrl":"https://api.chaindev.net","wsUrl":"wss://lcd.chaindev.net/websocket"}'
BOOTSTRAP_PRIVATE_KEY_NAME=Alice
BOOTSTRAP_PRIVATE_KEY=your-evm-private-key
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_NAME=Admin
BOOTSTRAP_ADMIN_PASSWORD=replace-me
